mat-card {
  margin: 20px;
}

h2 {
  margin: 20px;
}

img {
  max-width: 40%;
  object-fit: contain;
  margin-right: 20px;
}

mat-card-actions {
  display: flex;
  align-items: center;

  .space-filler {
    flex: 1;
  }
}

mat-card-content {
  display: flex;
  direction: row;
  flex-wrap: nowrap;
}

.review {
  max-width: 500px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;

  button {
    align-self: end;
  }

  &.hide {
    display: none;
  }
}


