<ng-container *ngIf="product$ | async as product; else loading">
  <mat-card>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    <mat-card-content>
      <img [src]="product.url" />
      <span *ngIf="product.description">{{ product.description }}</span>
      <mat-progress-bar *ngIf="!product.description" mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <ngrx-nx-workshop-stars [canRate]="true" (ratingChange)="setRating(product.id, $event)"
        [rated]="customerRating$ | async" [rating]="product.rating">
      </ngrx-nx-workshop-stars>
      <div *ngIf="customerRating$ | async">Your rating</div>
      <div class="space-filler"></div>
      <div class="action-buttons">
        <button mat-button type="button" (click)="back()">
          Back
        </button>
        <button mat-raised-button color="primary" type="button" (click)="addToCart(product.id)">
          Add to cart
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card class="review">
    <mat-card-subtitle>Submit your review</mat-card-subtitle>
    <mat-card-content>
      <form #reviewForm="ngForm" (ngSubmit)="submit(reviewForm.value)" [class.hide]="reviewForm.submitted">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput required ngModel name="reviewer" placeholder="Enter your name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Review</mat-label>
          <textarea type="text" matInput ngModel name="reviewText" required placeholder="Type your message"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!reviewForm.valid">Send</button>
      </form>
      <div *ngIf="reviewForm.submitted">Thank you for submitting your review</div>
    </mat-card-content>
  </mat-card>

  <h2>Reviews</h2>

  <mat-card class="review" *ngFor="let review of reviews$ | async">
    <mat-card-title>{{review.reviewer}}</mat-card-title>
    <mat-card-content>"{{review.reviewText}}"</mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <ngrx-nx-workshop-spinner></ngrx-nx-workshop-spinner>
</ng-template>