<ng-container *ngIf="cartDetailsVm$ | async as cartDetails">
  <ng-container *ngIf="cartDetails.products as cartProducts; else loading">
    <ng-container *ngIf="cartProducts.length; else noProducts">
      <ng-container *ngFor="let product of cartProducts">
        <mat-card *ngIf="product.quantity && product.quantity > 0">
          <mat-card-content>
            <img [src]="product.url" />
            <div class="fill">
              <mat-card-title>{{ product.title }}</mat-card-title>
              <mat-card-subtitle
                >Quantity: {{ product.quantity }}</mat-card-subtitle
              >
            </div>
            <div class="details">
              <div>Price: {{ product.price | currency }}</div>
              <button mat-button (click)="removeOne(product.id)">
                Remove
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <footer>
        <button type="button" mat-button (click)="removeAll()">
          Remove All
        </button>
        <div class="fill"></div>
        <button
          mat-raised-button
          color="primary"
          (click)="purchase(cartProducts)"
        >
          Purchase
        </button>
        <div class="total">Total: {{ cartDetails.total || 0 | currency }}</div>
      </footer>
    </ng-container>

  </ng-container>
</ng-container>
<ng-template #loading>
  <mat-spinner class="loadingCart"></mat-spinner>
</ng-template>

<ng-template #noProducts>
  <div class="empty">No products here yet</div>
</ng-template>
