<ng-container *ngIf="(productsCallState$ | async) === LoadingState.LOADING">
  <mat-progress-bar
    *ngIf="(products$ | async)?.length; else loadingProducts"
    mode="indeterminate"
  ></mat-progress-bar>
  <ng-template #loadingProducts>
    <ngrx-nx-workshop-spinner></ngrx-nx-workshop-spinner>
  </ng-template>
</ng-container>
<div class="products-container" *ngIf="products$ | async as products">
  <a
    class="card-link"
    [routerLink]="['/details', product.id]"
    *ngFor="let product of products"
  >
    <mat-card>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <img class="thumbnail" [src]="product.url" />

      <ngrx-nx-workshop-stars
        [rating]="product.rating"
        [rated]="(customerRatings$ | async)?.get(product.id)"
      ></ngrx-nx-workshop-stars>
    </mat-card>
  </a>
</div>
